{% extends "base.html" %}

{% block title %}Test{% endblock %}	

{% block head %}
{{ super() }}
	<link href="{{ url_for('static', filename='css/bootstrap-switch.min.css') }}" rel="stylesheet">
{% endblock %}
	
{% block page_content %}
<div class="page-header">
    <h1>ButLed <span class="glyphicon glyphicon-flash" style='font-size: 50px'></span></h1>
</div>
<div class = "container">
	<div class = "row">
		<div class = "col-md-7" id = "tabs">
		    <ul class="nav nav-tabs">
		        <li class="active"><a data-toggle="tab" href="#Arduino">Arduino</a></li>
		        <li><a data-toggle="tab" href="#RasPi">Raspberry Pi</a></li>
		    </ul>
		    <div class="tab-content">
		        <div id="Arduino" class="tab-pane fade in active">
		        	<br>
					<p>LED <input type="checkbox" id="ledA" checked></p>
					<p>Button: <img id="myImageA" src="{{ url_for('static', filename='imgs/pic_bulboff.gif') }}" width="100" height="180"></p>
		        </div>
		        <div id="RasPi" class="tab-pane fade">
		            <h3>Raspberry Pi</h3>
					<p>LED <input type="checkbox" id="ledR" name="my-checkboxR" checked></p>
					<p>Button: <img id="myImageR"  src="{{ url_for('static', filename='imgs/pic_bulboff.gif') }}" width="100" height="180"></p>
		        </div>
		    </div>
		</div>
		<div class = "col-md-5" id = "log_space">
			<textarea id="log" rows="10" cols="30"></textarea>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
	<script src="{{ url_for('static', filename='js/bootstrap-switch.min.js') }}"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			var obj=document.getElementById("log");
			function log(msg) {
				$('#log').append('\n' +msg);
				obj.scrollTop=obj.scrollHeight;
			}
	
			namespace = '/test'; // change to an empty string to use the global namespace
			var url = 'http://' + document.domain + ':' + location.port + namespace;
			$('#log').append(url);
			var socket = io.connect(url);
			
		    var imageA = document.getElementById('myImageA');
			socket.on('butAState', function(msg) {
				but = msg.but ? "Button ON" : "Button OFF";
				log(but);
			    if (msg.but)
			        imageA.src = "{{ url_for('static', filename='imgs/pic_bulbon.gif') }}";
			    else
			        imageA.src = "{{ url_for('static', filename='imgs/pic_bulboff.gif') }}";
			});			

		    var imageR = document.getElementById('myImageR');
			socket.on('butRState', function(msg) {
				but = msg.but ? "Button ON" : "Button OFF";
				log(but);
			    if (msg.but)
			        imageR.src = "{{ url_for('static', filename='imgs/pic_bulbon.gif') }}";
			    else
			        imageR.src = "{{ url_for('static', filename='imgs/pic_bulboff.gif') }}";
			});			

			$('#ledA').bootstrapSwitch();
			$('#ledA').on('switchChange.bootstrapSwitch', function(event, state) {
				log(state ? "LED_A ON" : "LED_A OFF");
				socket.emit('ledACtrl', {led: state});
			});			

			$('#ledR').bootstrapSwitch('size', 'mini');
			$('#ledR').on('switchChange.bootstrapSwitch', function(event, state) {
				log(state ? "LED ON" : "LED OFF");
				socket.emit('ledRCtrl', {led: state});
			});			
		});
	</script>	
{% endblock %}
